---
//
const className =
  "text-slate-400 w-fit transition-all hover:text-primary-teal border-r-0 hover:border-b-2 hover:border-gray ";
---

<div class="intro text-white h-screen pl-12 flex flex-col justify-center">
  <div class="text-2xl text-primary-teal">Hey There,</div>
  <p class="text-lg w-[60%]">
    I'm a full-stack developer with 3+ years of experience using technologies
    such as
    <a class={`${className}`} href="https://nextjs.org/" target="_blank"
      >Next.js</a
    >,
    <a
      class={`${className}`}
      href="https://www.typescriptlang.org/"
      target="_blank">TypeScript</a
    >,
    <a
      class={`${className}`}
      href="https://www.mongodb.com/mern-stack"
      target="_blank">MERN stack</a
    >,
    <a class={`${className}`} href="https://threejs.org/" target="_blank"
      >Three.js</a
    >and
    <a class={`${className}`} href="https://graphql.org/" target="_blank"
      >GraphQL .</a
    >
    I have experience in freelancing and enjoy creating visually appealing web apps
    that offer a great user experience.
    <!-- I specialize in both front-end and back-end
    development, and I'm confident in delivering top-notch solutions for challenging
    projects. -->
  </p>
  <div class="text-xl font-bold text-gray mt-7">Scroll down to Know more</div>
</div>

<style></style>
